<header class="nav">

    <a class="navbar-brand" href="/index.html">
        <img src="/assets/pathandpaws_logo.png"
             width="175"
             alt="PathAndPaws" />
    </a>

    <nav>
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="/services/index.html">Services</a>
        <a href="/platform/index.html">Platform</a>
        <a href="/contact.html">Contact</a>
    </nav>

    <!--<a class="btn-primary"
       href="/contact.html?type=1"
       title="A short introductory visit helps ensure the right fit for both owner and dog.">
        Arrange Your Meet &amp; Greet
    </a>-->

</header>