<header class="nav">
  <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/assets/visionaryanalytics_logo.png" width="175px" />
        </a>
      </div></div>
 
  <nav>
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/services/index.html">Services</a>
    <a href="/articles/index.html">Articles</a>
    <a href="/casestudies/index.html">Case Studies</a>
    <a href="/contact.html">Contact</a>
  </nav>
  <a class="btn-primary" href="#">Get Data Audit</a>

</header>