<header class="nav">
  <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/assets/pathandpaws_logo.png" width="175px" />
        </a>
      </div></div>
 
  <nav>
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/services/index.html">Services</a>
    <a href="/platform/index.html">Platform</a>
    <a href="/contact.html">Contact</a>
  </nav>
  <a class="btn-primary" href="contact.html?type=1" alt="A short introductory visit helps ensure the right fit for both owner and dog.">Arrange Your Meet & Greet</a>

</header>